<html>

<head>
  <title>Handling of http get and post request</title>
  <style>
    .green-box {
      width: 400px;
      border: 1px solid green;
      padding: 10px;
      margin-bottom: 5px;
    }
    .message-box {
      background-color: lightgreen;
    }
  </style>
</head>

<body>
  <div>
    {% if message %}
    <p class="message-box">{{message}}</p>
    {% endif %}
    <h1>Min gjøremålsliste:</h1>
    <ul>
      {% for item in items.values() %}
      <li>{{item}}</li>
      {% endfor %}
    </ul>
  </div>
  <div class="green-box">
    <h1>Create To-Do Item</h1>
    <form method="POST" action="{{ url_for('create_item') }}">
      <input type="text" name="itemname" placeholder="itemname">
      <button type="submit">submit</button>
    </form>
  </div>
  <div class="green-box">
    <h1>Read To-Do Item</h1>
    <form method="POST" action="{{ url_for('read_item') }}">
      <input type="text" name="itemnumber" placeholder="itemnumber">
      <button type="submit">submit</button>
    </form>
  </div>

  
</body>

</html>